/WebApplication2/nbproject/private/
/lab_4/nbproject/private/
/lab_4/build/
/test1/nbproject/private/
/demoCookie/nbproject/private/
/demoCookie/build/
/WebApplication2/build/
/project/nbproject/private/
/project/build/
/assigmnet/nbproject/private/
/assigmnet/build/
/assigmnet/dist/
/Assigment1/nbproject/private/
/Assigment1/build/
/assigmnet_1/nbproject/private/
/assigmnet_1/build/
/lab_7/nbproject/private/
/lab_7/build/
/lab_6/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/q1/nbproject/private/
/q2/nbproject/private/
/q2/build/
/project_prj/nbproject/private/
/project_prj/build/